/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.yt-transcript__transcript-block {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}

.yt-transcript__transcript-block > span {
	cursor: pointer;
}

.yt-transcript__highlight {
	background-color: var(--text-highlight-bg);
	padding: 0 2px;
	border-radius: 2px;
	font-weight: bold;
}
