.yt-transcript__video-title {
	font-weight: bold;
	margin-bottom: 20px;
}

.yt-transcript__search-input {
	margin-bottom: 20px;
}

.yt-transcript__transcript-block {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}

.yt-transcript__transcript-block > a {
	margin-bottom: 5px;
}

.yt-transcript__transcript-block > span {
	cursor: pointer;
}

.yt-transcript__highlight {
	background-color: var(--text-highlight-bg);
	padding: 0 2px;
	border-radius: 2px;
	font-weight: bold;
}

.yt-transcript__error {
	color: var(--text-muted);
	font-size: var(--font-ui-small);
}

.yt-transcript__error-title {
	margin-bottom: 5px;
}
